
.header{
    max-width: 100%;
    margin-top: 46px;
    margin-left: 13px;
    margin-bottom: 44px;
    margin-right: 23px;
    align-items: center;

    display: flex;
    justify-content: space-between; 
}
.header__menu-btn.menu-btn{
    background-color: transparent;
    border: none;
    scale: 1.3; 
}
.header__logo {
    display: block;
}
