.container {
    text-align: left;
    position: relative;
    display: inline-block;
}

.title-reservation {
    font-size: var(--taille-heading-0);
    line-height: 0.9;
    display: inline-block;
    position: absolute;
    padding-left: 110px;
    transform: translateY(50%) scale(1.5);
}

.star {
    font-size: 40px;
    position: absolute;
    margin-left: -50px;
    top: 15px;
}

.line {
    font-size: var(--taille-heading-0);
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.line.middle {
    margin-left: -50px;
    margin-top: -55px;
}

.line:last-of-type {
    margin-top: -55px;
    margin-left: -20px;
}

.chair {
    width: 100%;
}

.description {
    padding-left: 60px;
    line-height: 110%;
    position: absolute;
    transform: translateY(570%);
    padding-right: 34px;
    text-align: left;
}

@media (max-width: 300px) {
    .title-reservation {
        font-size: calc(var(--taille-heading-0) * 0.6);
        padding-left: 40px;
        transform: translateY(40%) scale(1);
    }

    .star {
        font-size: 20px;

        margin-left: -20px;
        top: 5px;
    }

    .line.middle {
        margin-left: -20px;
        margin-top: -30px;
    }

    .line:last-of-type {
        margin-top: -30px;
        margin-left: -10px;
    }

    .description {
        padding-left: 20px;
        padding-right: 10px;
        line-height: 130%;
        transform: translateY(450%);
    }

    .chair {
        width: 90%;
    }
}