.carousel{
    margin-top: 60px;
    margin-bottom: 60px;
}
.carousel__heading.sr-only{
    display: flex;
    justify-content: left;
    text-align: left;
    line-height: 110%;
    padding-top: 25px;
    border-radius: 40px;
    padding-bottom: 30px;
    font-size: var(--taille-heading-1);
    padding-left: 30px;
}

/* Festival page */
/* ################################################################################## */


.information{
    padding: 5px;
    margin-left: 30px
}
.title.event_information{
    font-size: var(--taille-heading-0);  color: var(--bleu-obscure);
    margin-bottom: 70px;
}
.title.event_information::before {
    content: "★";
    font-size: 30px;
    position: absolute;
    left: 1px;
    transform: translateY(200%);
    margin-left: 30px;

}
.event__text{
    margin-bottom: 51px;
    margin-right: 35px;
}
.event__image-films-personnes{
    display: flex;
    align-items: flex-start;
    margin-left: -40px;
}
.event__image{
    margin-left: -40px;
}
.title.event-naissance{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: var(--taille-heading-1);
}
.box__festival{
background-color: var(--vert);
    width: 100%;
    border-bottom-right-radius: 120px;
    padding-bottom: 30px;
}
h2.title.box__festival{
    line-height: 110%;
    padding-left: 40px;
    padding-top: 20px;
    font-size: var(--taille-heading-1);
}
h2.title.box__festival::after{
    content: "!";
}
.box__festival__text{
    display: flex;
    align-items: center;
}
.box__festival__image{
    margin-left: 10px;
    margin-right: -30px;
}
.subtitle.box__festival{
    padding-left: 40px;
    padding-top: 30px;
}
.box__festival__text{
    padding-top: -80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    font-size: var(--taille-body-2);
    justify-content: left;
}
btn.btn--primary.ville{
    margin-top: 20px;
    margin-left: 40px;
}
.valeurs{
    margin: 10px;
}
h2.title.section__valeurs{
    font-size: var(--taille-heading-1);
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: -5px;
}
.section_valeurs__list{
    margin-left: 40px;
    font-size: var(--taille-body-1);
}
h2.title.thematique{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: var(--taille-heading-1);
}
.thematique__text{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    font-size: var(--taille-body-2);
}
.ticket-container {
    display: flex;
    align-items: center;
    background-color: #6c4da7;
    color: white;
    border-radius: 10px;
    padding: 50px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-section {
    margin-right: 20px;
    text-align: left;
}

.main-title {
    line-height: 1.5;
    margin: 0 0 10px;
    font-size: var(--taille-body-0);
}

.reserve-button {
    background-color: #f5e3ca;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #e4d2b7;
}

.ticket-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 150px;

}

.ticket-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ticket-text {
    font-size: 20px;
    font-weight: bold;
    color: #6c4da7;
    margin-bottom: 5px;
}

/* programme */
/* ################################################################################## */


.section__header{
    background-color: var(--bleu-obscure);
}

.title.title--highlight{
    font-size: var(--taille-heading-0);
    color: var(--variation-du-noir-gris-claire);
    padding-left: 10px;
    line-height: 89%;
    margin-top: 60px;
    margin-bottom: 30px;
}
.title.title--highlight::after {
    content: "★";
    padding-left: 70px;
}
hr{
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.section__title{
    font-size: var(--taille-heading-3);
    margin-left: 20px;
    margin-bottom: 30px;
}
section.films__box{
    gap: 20px;
}
.films__container {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: left;
}

.title.films {
    font-size: var(--taille-heading-1);
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -10px;
    line-height: 110%;
}
.films__premiere-text{
    font-size: var(--taille-small-texte);
    background-color: var(--bleu-obscure);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}

.films__genre {
    display: inline-block;
    background-color: var(--bleu-obscure);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-bottom: 15px;
    text-align: center;
}

.films__image {
    display: block;
    margin: 15px auto;
    width: 100%;
    height: auto;
}

h3.film__name {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

p.film__information{
    font-size: 0.9rem;
    margin: 10px 0;
}

.films_dates {
    font-size: var(--taille-heading-2);
    font-weight: bolder;
    margin-top: 20px;
    text-align: end;
}


.films__container+.films__container {
    margin-top: 30px;
}

.cadre__participer {
    position: relative;
    background-color: var(--violet-obscure);
    color: white;
    padding: 30px 10px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
}

.cadre__participer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, transparent 70%);
    opacity: 1;
    z-index: 0;
    pointer-events: none;
    mask-image: url('/assets/img/points.png');
    mask-repeat: no-repeat;
    mask-position: center;
}

.cadre__title {
    font-size: var(--taille-heading-1);
    margin-bottom: 20px;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    margin-right: 150px;
    line-height: 110%;
    margin-top: 20px;
    margin-left: 20px;
}


.btn.btn--secondary {
    display: inline-block;
    padding: 15px 30px;
    color: #000;
    font-size: 1rem;
    background-color:var(--beigne);
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-left: 190px;
    margin-bottom: 40px ;
}

.btn--secondary:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
    .cadre__participer {
        padding: 60px 40px;
    }

    .cadre__title {
        font-size: 2.2rem;
    }

    .btn--secondary {
        font-size: 1.2rem;
        padding: 20px 40px;
    }
}


@media (min-width: 768px) {
    .films__container {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .films__container {
        max-width: 800px;
    }
}

/* mentions legales */
/* ################################################################################## */

.legales{
    padding-left: 30px;
    padding-bottom: 60px;
}
.legales::before {
    content: "★";
    font-size: 30px;
    position: absolute;
    left: 1px;
    transform: translateY(100%);
    margin-left: 25px;

}
.contenu_infos_legales{
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.subtitle.infos__legales-outils{
    padding-top: 60px;
}

/* infos pratiques */
/* ################################################################################## */
.title.infos{
    padding: 20px;
}
.tarifs{
    padding: 20px;
}
.hébergement{
    padding-top: 20px;
    margin-left: 40px;
}
.title.accs-en-voiture{
    padding-top: 20px;
    margin-left: 40px;
}
.accs{
    padding-top: 20px;
    margin-left: 20px;
}
.parking-gratuit-prs-de-la-sal{
    padding-top: 20px;
    margin-left: 60px;
}
.lieux{
    padding-top: 60px;
    margin-left: 40px;
    padding-bottom: 80px;
}
.lieux__map{
    margin-left: -100px;
    scale: 0.8;
}
.questions-box{
    background-color: var(--beigne);
    margin: 10px;
    padding: 10px;
    padding-bottom: 30px;
}
.title.faq-title{
    line-height: 110%;
    padding-bottom: 30px;
}
.title.faq__text{
    line-height: 110%;
    padding-bottom: 30px;
    padding-top: 20px;
}
.download-pdf{
    margin-top: 20px;
    color: #000;
}
/* Nous contacter */
/* ################################################################################## */
.contact-container{
    padding: 20px;
}
.title.contact{
    background-color: #000;
    padding: 30px;
    color: white;
    padding-bottom: 20px;
}
.contact-formulaire{
    padding-top: 40px;
}