.ticket-container {
    display: flex;
    align-items: center;
    background-color: #6c4da7;
    color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-section {
    margin-right: 20px;
    text-align: left;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 10px;
}

.reserve-button {
    background-color: #f5e3ca;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #e4d2b7;
}

.ticket-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    height: 100px;
    width: 150px;

}

.ticket-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ticket-text {
    font-size: 20px;
    font-weight: bold;
    color: #6c4da7;
    margin-bottom: 5px;
}
